doctype html
html
  head
    title 2016 by the Numbers | Smoke Media
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width", initial-scale="1")
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(rel="icon", href="http://smoke.media/wp-content/uploads/2017/01/logo-150x150.png")
    link(href="https://fonts.googleapis.com/css?family=Oswald:400,700|Source+Sans+Pro:400,700", rel="stylesheet")
  body
    section#progress
      div
    section#headline
      h1
        span 2016
        | by the numbers
    section#fold
      p It's been a big year for Smoke. Here's why...   
    main#content
      section.number.loaded#a(style="background-image:url('img/1.png')")
        aside
          span 1
        aside
          h2 New office
          div
            p We opened the Media Hub on Cavendish campus - a purpose-built office and production space for student journalists.
      section.number#b(data-source="img/2.png")
        aside
          span 2
        aside
          h2 New servers
          div
            p We brought two dedicated servers online support a bigger, better online presence.
      section.number#c(data-source="img/3.png")
        aside
          span 4
        aside
          h2 Live TV debates
          div
            p
              | We streamed four episodes of 
              em The Big Debate
              | , shaping the campus conversation around key issues.
      section.voxbox
        aside
          div
            h3 Amy Avent
            p Editor<br>Smoke Mag
          img(src="img/amy.jpg")
          p.testimonial "I could write a dissertation on what an amazing time I've had bringing Smoke Mag to campuses every month"
        aside
          div
            h3 Lareb Naseem
            p Music editor<br>Smoke Mag
          img(src="img/lareb.jpg")
          p.testimonial "Smoke Mag let me nurture my passion for writing, and for that I will always be grateful”
      section.number#d(data-source="img/4.png")
        aside
          span 6
        aside
          h2 Hours of Varsity broadcast
          div
            p
              | Smoke TV and Radio provided 
              a(href="http://smoke.media/issues") the official broadcast
              |  of the annual Varsity competition between Westminster and West London.
      section.number#e(data-source="img/5.png")
        aside
          span 13
        aside
          h2 Editions of the QH and Smoke Mag
          div
            p
              | With Smoke Mag joining the QH and becoming monthly, we printed 
              a(href="http://smoke.media/issues") nearly twice as many issues
              |  of both as ever before.
      section.number#f(data-source="img/6.png")
        aside
          span 17
        aside
          h2 Year 4s became radio presenters
          div
            p
              | Smoke Media 
              a(href="http://uwsu.com/mini-masters") reached out to the local community
              | , educating primary school children on the value of radio.
      section.voxbox
        aside
          div
            h3 Callum Denning
            p Station manager<br>Smoke Radio
          img(src="img/callum.jpg")
          p.testimonial "Smoke Radio gave me the chance to run an award-winning radio station, and a perfect start to enter the industry"
        aside
          div
            h3 Lauren Waugh
            p News editor<br>The QH
          img(src="img/lauren.jpg")
          p.testimonial "Being an editor let me create a strong portfolio of both design and reporting, while also having fun doing it”
      section.number#g(data-source="img/7.png")
        aside
          span 20
        aside
          h2 Training sessions
          div
            p Practical workshops led by SU staff helped student volunteers sharpen their skills.
      section.number#h(data-source="img/8.png")
        aside
          span 43
        aside
          h2 Committee members & editors
          div
            p These elite volunteers run Smoke Media and set its direction. This year the number of committee positions went up again to cope with increasing output.
      section.number#i(data-source="img/9.png")
        aside
          span.med 1006
        aside
          h2 Signups at Freshers' Fairs
          div
            p Smoke Media toured all four Westminster campuses, gathering a staggering amount of interest from eager new students.
      section.voxbox
        aside
          div
            h3 Alicia Wilson-Fraser
            p Station Manager<br>Smoke TV
          img(src="img/alicia.jpg")
          p.testimonial "Smoke TV allowed me to develop spontaneous ideas with enthusiastic people. It's like a family!"
        aside
          div
            h3 Rituja Rao
            p Editor<br>The QH
          img(src="img/rituja.jpg")
          p.testimonial "The QH gave me the opportunity to cultivate campus conversations about the issues that matter"
      section.number#j(data-source="img/10.png")
        aside
          span.med 1100
        aside
          h2 More Facebook likes
          div
            p Smoke Media remained on the cutting edge of social media, publishing numerous Facebook Lives, 360 videos and more.  
      section.number#k(data-source="img/11.png")
        aside
          span.med 3000
        aside
          h2 Hours of live radio
          div
            p
              | Smoke Radio broadcast a staggering amount of live content last year, including a marathon 
              a(href="http://smoke.media/jailbreak-2016-live-on-smoke-radio/") 36-hour broadcast
              |   in aid of UWSU’s first annual Jailbreak.
      section.number#l(data-source="img/12.png")
        aside
          span.small 17,000
        aside
          h2 Newspapers & Mags distributed
          div
            p We pushed Smoke Media’s high-quality student journalism out to its widest audience yet. 
      section.voxbox
        aside
          div
            h3 Tooba Haq
            p Deputy editor<br>The QH
          img(src="img/tooba.jpg")
          p.testimonial "Working with the QH was one of the most challenging yet most rewarding experiences ever I’ve had"
        aside
          div
            h3 Joshua Hackett
            p Student media coordinator<br>UWSU
          img(src="img/joshua.jpg")
          p.testimonial "Smoke Media has made some incredible steps forward this year, and they've laid the groundwork for even more future success”            
      section.number#m(data-source="img/13.png")
        aside
          span.small 19,000
        aside
          h2 People visited smoke.media
          div
            p Our new website has given our audience a massive boost.       
      section.number#n(data-source="img/14.png")
        aside
          span.small 116,000
        aside
          h2 Words printed
          div
            p Smoke Mag in particular have conducted interviews with a ton of high-profile names, including DJ Alan Walker.                 
      section.number#o(data-source="img/15.png")
        aside
          span.small 160,000
        aside
          h2 Smoke TV views
          div
            p
              | Smoke TV started using Facebook Live, and premiered its first ever multi-part television drama, 
              em Spiral.   
            
      section#conclusion
        aside
          h4 Freya Thompson
          h5 SU President
          img(src="img/freya.jpg")
          div
            p "I have been thrilled to work with our impressive student media this year as they've shown us some spectacular displays of innovation and creativity.
            p This is evident in their national award nominations across the board.
            p They are a credit to Westminster SU."
        aside
          p.big 2016 has seen some big changes for Smoke Media...
          p A new focus was placed on training and quality equipment, enabling Smoke to reach out to more students than ever before, in terms of both audience and membership.
          p It remains the number one source of quality local content for Westminster students and an ideal springboard for volunteers looking to develop their employability.
          a.cta(href="http://smoke.media") See our work

    script(src="js/main-min.js")
